body{
    margin: 0;
    padding: 0;
}


/*NAVBAR*/

.nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #1f2937;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/*MAIN CONTENT*/

.main-content {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.container > p {
    color: #e5e7eb;
    font-size: 18px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.sign-up {
    display: flex;
    width: 120px;
    padding: 5px;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    justify-content: center;
}

.image-placeholder {
    background-color: #626972;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 220px;
}
